@import 'tailwindcss';
@import 'tailwindcss-primeui';

@custom-variant dark (&:is(.dark *));

/*
 * Utility
 */
@utility text-danger {
  @apply text-red-600;
}

@utility bg-content {
  @apply bg-[#F8FAFC] dark:bg-[#16181C];
}

@utility border-content {
  @apply border-gray-300 dark:border-gray-700;
}

@utility border-form {
  @apply border-gray-500 dark:border-gray-700;
}

@utility w-setting-page {
  @apply w-[600px];
}

@layer base {
  body {
    @apply text-color text-sm bg-content;
  }

  button {
    @apply cursor-pointer;
  }
}

.menu-Link.router-link-active {
  @apply outline-2 outline-primary rounded;
}

/*
 * Override
 */
 .p-button .p-button-icon {
  font-size: 1.25rem !important;
}

.p-button-lg .p-button-icon {
  font-size: 1.5rem !important;
}

.p-inputtext {
  line-height: normal;
}

.p-button {
  font-size: inherit !important;
  line-height: normal;
}

/*
 * Components
 */
.router-Menu {
  @apply flex flex-col gap-1;
}

.router-Menu-Item {
  @apply flex items-center gap-2 p-2 rounded text-base hover:bg-surface-200 dark:hover:bg-surface-800;

  &.router-link-active {
    @apply text-primary bg-surface-100 dark:bg-surface-800;
  }
}

.router-Menu-Item-Text {
  @apply grow;
}

.router-Menu-Item-DotBadge {
  @apply h-3 w-3 bg-primary rounded-full;
}

.router-Menu-Item-NumBadge {
  @apply px-2 rounded-full text-white font-bold text-[12px] bg-red-500;
}

.page-Title {
  @apply flex gap-2 px-2 h-[45px];
}

.list-Item {
  @apply p-2 rounded hover:bg-surface-200 dark:hover:bg-surface-800;
}
