@import 'tailwindcss';
@import 'tailwindcss-primeui';

@custom-variant dark (&:is(.dark *));

/*
 * Utility
 */
@utility text-danger {
  @apply text-red-600;
}

@utility bg-content {
  @apply bg-surface-50 dark:bg-surface-950;
}

@utility w-setting-page {
  @apply w-[600px];
}

@layer base {
  body {
    @apply text-color text-sm bg-content;
  }

  button {
    @apply cursor-pointer;
  }
}

.menu-Link.router-link-active {
  @apply outline-2 outline-primary rounded-border;
}

/*
 * Override
 */
.p-button .p-button-icon {
  font-size: 1.25rem !important;
}

.p-button-lg .p-button-icon {
  font-size: 1.5rem !important;
}

.p-inputtext {
  line-height: normal;
}

.p-button {
  font-size: inherit !important;
  line-height: normal;
}

.p-divider-content {
  background-color: transparent !important;
}

/*
 * Components
 */
#main-Title {
  @apply min-h-[36px] flex items-center justify-center bg-surface-950 border-b border-surface;
}

#main-View {
  @apply select-none;
}

#main-Nav {
  @apply bg-surface-300 dark:bg-surface-900;
}

#dm-Chat-Page {
  @apply max-h-screen;
}

.aside-Group-Title {
  @apply text-muted-color px-2 mb-2;
}

.dm-Session-Item {
  @apply flex;

  button {
    @apply opacity-0 text-color;
  }

  &:hover {
    button {
      @apply opacity-100;
    }
  }

  &:has(a.router-link-active) {
    @apply text-primary bg-surface-50 dark:bg-surface-800;
  }
}

.dm-Session-Item-Link {
  @apply flex gap-2 items-center grow;
}

.router-Menu {
  @apply flex flex-col gap-1;
}

.router-Menu-Item {
  @apply flex items-center gap-2 p-2 rounded-border text-base hover:bg-surface-50 dark:hover:bg-surface-800;

  &.router-link-active {
    @apply text-primary bg-surface-50 dark:bg-surface-800;
  }

  a.router-link-active {
    @apply text-primary;
  }
}

.router-Menu-Item-Text {
  @apply grow;
}

.router-Menu-Item-DotBadge {
  @apply h-3 w-3 bg-primary rounded-full;
}

.router-Menu-Item-NumBadge {
  @apply px-2 rounded-full text-white font-bold text-[12px] bg-red-500;
}

.page {
  @apply flex flex-col grow;
}

.page-Title {
  @apply flex shrink-0 justify-between items-center gap-2 px-4 h-[50px] border-b border-surface;

  i {
    @apply text-2xl;
  }
}

.list-Item {
  @apply p-2 rounded-border hover:bg-surface-200 dark:hover:bg-surface-800;
}

.page-Aside {
  @apply min-w-[360px] p-2 border-l border-surface bg-surface-200 dark:bg-surface-900;
}

.message-Item {
  @apply flex gap-2 items-start px-2 hover:bg-surface-200 dark:hover:bg-surface-900 select-text;

  a {
    @apply text-primary;
  }

  a:hover {
    @apply underline;
  }
}

.user-Avatar {
  @apply relative rounded-full select-none shrink-0;
}

.user-Avatar-S-Size {
  @apply h-8 w-8 text-xl;
}

.user-Avatar-M-Size {
  @apply h-10 w-10 text-2xl;
}

.user-Avatar-L-Size {
  @apply h-20 w-20 text-3xl;
}

.user-Avatar-Empty {
  @apply h-full flex justify-center items-center rounded-full text-color bg-surface-200 dark:bg-surface-600;
}

.user-Avatar-Dot {
  @apply h-3 w-3 absolute right-0 bottom-0 bg-surface-400 rounded-full;
}

.user-Avatar-Online-Dot {
  @apply bg-green-500;
}

.chat-Input {
  @apply flex flex-col p-2 mx-2 mb-6 border border-surface-300 dark:border-surface-600 bg-transparent dark:bg-surface-900 rounded-border;

  input {
    @apply outline-0 text-base;
  }
}

.toggle-Button-On {
  @apply text-primary;
}

.toggle-Button-Off {
  @apply text-muted-color;
}
