@import 'tailwindcss';
@import 'tailwindcss-primeui';

@custom-variant dark (&:is(.dark *));

/*
 * Utility
 */
@utility text-danger {
  @apply text-red-600;
}

@utility bg-content {
  @apply bg-[#F8FAFC] dark:bg-[#10121A];
}

@utility w-setting-page {
  @apply w-[600px];
}

@layer base {
  body {
    @apply text-color text-sm bg-content;
  }

  button {
    @apply cursor-pointer;
  }
}

.menu-Link.router-link-active {
  @apply outline-2 outline-primary rounded-border;
}

/*
 * Override
 */
.p-button .p-button-icon {
  font-size: 1.25rem !important;
}

.p-button-lg .p-button-icon {
  font-size: 1.5rem !important;
}

.p-inputtext {
  line-height: normal;
}

.p-button {
  font-size: inherit !important;
  line-height: normal;
}

/*
 * Components
 */
#main-Nav {
  @apply bg-surface-200 dark:bg-surface-900;
}

#dm-Chat-Page {
  @apply bg-surface-50 dark:bg-surface-800 max-h-screen overflow-scroll;
}

.router-Menu {
  @apply flex flex-col gap-1;
}

.router-Menu-Item {
  @apply flex items-center gap-2 p-2 rounded-border text-base hover:bg-surface-50 dark:hover:bg-surface-800;

  &.router-link-active {
    @apply text-primary bg-surface-50 dark:bg-surface-800;
  }
}

.router-Menu-Item-Text {
  @apply grow;
}

.router-Menu-Item-DotBadge {
  @apply h-3 w-3 bg-primary rounded-full;
}

.router-Menu-Item-NumBadge {
  @apply px-2 rounded-full text-white font-bold text-[12px] bg-red-500;
}

.page-Title {
  @apply flex gap-2 px-2 h-[45px] border-b border-surface;
}

.list-Item {
  @apply p-2 rounded-border hover:bg-surface-200 dark:hover:bg-surface-800;
}

.page-Aside {
  @apply w-[360px] p-2 border-l border-surface bg-surface-200 dark:bg-surface-900;
}

.chat-Item {
  @apply flex gap-2 items-start p-2 rounded-border hover:bg-surface-200 dark:hover:bg-surface-900;
}
